@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@300;500;600&family=Silkscreen:wght@400;700&display=swap');
:root {
    --back-ground-main: #F3f4f6 ;
    --back-ground-aside: #dad9d8 ;
    --page-color: #feba31;
    --text-color  : #272827;
    --h3-font: 3rem;
    --h6-font: 2rem;
    --p-font: 1.1rem;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    border: none;
    transition: all .3s ease-in-out;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    background-color: var(--back-ground-aside);
}
::-webkit-scrollbar-thumb {
    background-color: var(--page-color);
}
::-webkit-scrollbar{
    width: 10px;
}

/*.main-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--back-ground-main);
}*/
/*=======ASIDE=======*/
.aside {
    width: 270px;
    height: 100vh;
    background-color: var(--page-color);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: .2px solid rgba(53, 51, 51, 0.163);
    box-shadow: var(--box-shadow);
    z-index: 100;
}
.user-profile {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid var(--back-ground-main);
}
.user-image {
    width: 200px;
    height: 200px;
    margin: auto;
}
.user-image:hover{
    transform: scale(1.02);
}
nav {
    margin-top: 50px;
    width: 200px;
    text-align: center;
}
.links {
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: var(--p-font);
    border-bottom: 1px solid var(--text-color);
    padding: 5px 0;
}
.links a{
    color: var(--text-color);
    text-align: left;
}
.links a:hover{
    color: var(--back-ground-aside);
}
.links i {
    float: left;
}
.socialmedia {
    margin-top: 50px;
    width: 200px;
    margin: auto;
}
.socialmedia ul{
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-around;
}
.socialmedia ul li .fa{
    font-size: 20px;
}
.socialmedia ul li .fa:hover{
    color: #fff;
}
@media (max-width: 1100px){
    .aside{
        left: -273px;
    }
    .aside.active {
        left: 0;
    }
}
@media (max-width: 700px){
    .aside.active {
        width: 100%;
    }
}

/*=======ASIDE END=======*/
/*=======HUMBERGER =======*/
.humberger {
    width: 40px;
    height: 40px;
    background: var(--page-color);
    color: #fff;
    position: fixed;
    right: -45px;
    top: 20px;
    border-radius: 5px;
    z-index: 100;
}
.bars {
    padding: 5px;
    font-size: 30px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.humberger:hover {
    box-shadow: var(--box-shadow);
}
@media (max-width: 1100px){
   .humberger{
    right: 45px;
   }
   .humberger.active{
       transform: rotate(90deg);
   }
}
/*=======HUMBERGER END=======*/
/*======= content =======*/
.content {
    padding-left: 270px;
}
.section {
    min-height: 100vh;
    display: block;
    opacity: 1;
    padding: 0 30px;

}
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-color);
}
.pad15 {
    padding: 0 15px;
}
.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.landpageInfo {
    flex: 0  0 60%;
    max-width: 60%;
    text-transform: capitalize;
 }
 .landpageInfo h6{
     font-size: var(--h6-font);
 }
 .landpageInfo h3{
     font-size: var(--h3-font);
     flex-wrap: nowrap;
 }
 .landpageInfo h3 span{
     color: var(--page-color);
 }
 .landpageInfo p {
     font-size: var(--p-font);
 }
 .landpageInfo .btn{
     margin: 7px 0;
 }
 
 .btn {
     width: 150px;
     padding: 7px 2px;
     background-color: var(--page-color);
     border-radius: 5px;
     font-size: var(--p-font);
 }
 .btn:hover {
     color: var(--back-ground-main);
     box-shadow: var(--box-shadow);
 }
 .landpageIMG {
     flex: 0 0 40%;
     max-width: 40%;
     position: relative;
 }
 .image-profile{
     width: 80%;
     overflow: hidden;
     margin: auto;
 }
 .image-profile::before{
    content: " ";
    position: absolute;
    top: -30px;
    left: 10px;
    width: 80px;
    height: 80px;
    z-index: 10;
    border-top: 10px solid var(--page-color);
    border-left: 10px solid var(--page-color);
 }
 .image-profile::after{
    content: " ";
    position: absolute;
    bottom: -30px;
    right: 10px;
    width: 80px;
    height: 80px;
    z-index: 10;
    border-bottom: 10px solid var(--page-color);
    border-right: 10px solid var(--page-color);
 }
 .myImge {
     width: 100%;
 }
@media(max-width: 1100px){
    .content{
        padding-left: 0;
    }
}
@media(max-width: 950px){
    .landpageInfo{
        margin: auto;
        min-width: 100%;
    }
    .landpageIMG {
        display: none;
    }
}
/* =====ABOUT ME SECTION ======= */

.header {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin: auto;
    border-bottom: 1px solid var(--text-color);
}

.header h6{  
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    color: var(--page-color);
    padding-top: 20px;
}
.header h3:hover {
    color: var(--page-color);
}
/* =====DETAILS INFO =====*/
.details {
    padding-top: 30px;
}
.details .row{
    justify-content: space-between;
}
.myDetails {
  flex: 0 0 38%;
  max-width: 300px;
  margin: 10px 10px;
  min-height: 250px;
}
.myDetails ul {
    margin-bottom: 20px;
}
.myDetails ul li{
    text-transform: capitalize;
    font-size: var(--p-font);
    margin-bottom: 10px;
}
.myDetails ul li span{
    color: var(--page-color);
}
.projects {
    flex: 0 0 60%;
    min-width: 400px;
}
.procontainer {
    flex: 0 0 40%;
    max-width: 190px;
    min-height: 200px;
    background-color: #272827;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.procontainer:hover {
    box-shadow: var(--box-shadow);
    transform: translateY(-5px);
}
.procontainer h6{
    color: var(--page-color);
    font-size: var(--h6-font);
}
.procontainer p{
    color: #fff;
    font-size: var(--p-font);
    letter-spacing: 1.3px;
    text-align: center;
}
.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 850px){
    .details .row {
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
    }
    .projects {
        min-width: 100%;
        margin: 0;
    }
    .procontainer{
        margin: 10px 0;
        padding: 0;
    }
}
@media (max-width: 480px){
    .myDetails,.procontainer {
        min-width: 100%;
      padding-left: 0;}
}
/* ===== SERVICES =====*/
.services {
    margin-top: 5px;
    justify-content: space-between;
}
.servContainer {
    flex: 0 0 32%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#272827;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.servContainer i{
    font-size: var(--h3-font);
    margin-bottom: 5px;
    color: var(--page-color);
}
.servContainer h6{
    font-size: 1.3rem;
    color: var(--page-color);
}
.servContainer p{
     font-size: var(--p-font);
     color: #fff;
     align-items: center;
     text-align: center;
} 
.skills {
    margin-top: 40px;
    width: 50%;
}
.skilsContainer {
    display: flex;
    flex-direction: column;
}
.skillsName {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skillsName h6 {
    font-size: var(--p-font);
}
.skillsBar {
    height: 15px;
    width: 100%;
    background-color: #dad9d8;
    border-radius: 25px;
    margin-top: 5px;
    overflow: hidden;
}
.skilssgage {
    width: 90%;
    height: 20px;
    background-color: var(--page-color);
}
#javascript  {
    width: 70%;
    height: 20px;
    background-color: var(--page-color);
}
#React  {
    width: 40%;
    height: 20px;
    background-color: var(--page-color);
}
#design{
    width: 50%;
    height: 20px;
    background-color: var(--page-color);
}
@media(max-width: 800px){
    .skills{
        width: 100%;
    }
}
@media(max-width: 550px){
    .servContainer{
        min-width: 100%;
    }
    .service .row{
        flex-direction: column;
    }
}
/* ===== PORTFOLIO =====*/
.portContainer {
    width: 50%;
    margin: 20px 0;
    border-radius: 5px;
    overflow: hidden;
}
.portContainer a{
    width: 100%;
}
.col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.webimage {
    width: 100%;
    overflow: hidden;
}
.webpage {
    width: 100%;
}
.webpage:hover{
    transform: scale( 1.02);
}
@media(max-width: 800px){
    .portContainer {
        width: 100%;
    }
}

/* ===== CONTACTACTS =====*/
.contacts {
    margin-top: 20px;
    margin-bottom: 20px;
}
.officedetails {
    width: 100%;
}
.officeLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.officelists {
    flex: 0 0 30%;
    margin-top: 10px;
}
.officelists i {
    color: var(--page-color) ;
    font-size: var(--h3-font);
    margin: 5px 0;
}
.officelists h6 {
    color: var(--text-color);
    font-size: var(--p-font);
    text-transform: capitalize;
}
.officelists a{
    color: var(--text-color);
    font-size:var(--p-font);
}
.officelists a:hover {
    color: var(--page-color);
}
.messageUS{
    width: 100%;
    margin-top: 30px;
}
.message-title {
    margin:  20px 0;
}
.message-title h6{
   font-size: var(--p-font);
   color: var(--page-color);
   padding: 5px 0;
}
.form{
    width: 100%;
}
.form input,textarea:focus{
   outline: none;
}

.nameEmail,.subject,.message{
      width: 100%;
      margin-bottom: 20px;
}
.nameEmail input{
    width: 45%;
    padding: 10px 0 10px 10px;
    border-radius: 20px;
    background-color: rgba(198, 190, 190, 0.402);
    font-size: var(--p-font);
}

.subject input{
    width: 100%;
    padding: 10px 0 10px 10px;
    border-radius: 20px;
    background-color: rgba(198, 190, 190, 0.402);
    font-size: var(--p-font);
}
.message textarea{
    width: 100%;
    padding: 10px 0 10px 10px;
    border-radius: 20px;
    background-color: rgba(198, 190, 190, 0.402);
    font-size: var(--p-font);
}
@media(max-width: 800px){
    .officeLinks {
        flex-direction: column;
    }
}

/*======== FOOOTER ========*/

footer {
    width: 100%;
    height: 15vh;
    background-color: rgba(198, 190, 190, 0.402);
}
.foooters {
    padding-top: 20px;
}
.foooters ul{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.foooters ul i {
    font-size: var(--p-font);
}
.foooters ul li{
    margin-right: 10px;
}
.foooters h6{
    font-size: var(--p-font);
}